* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}

.calculator {
    padding: 20px 25px;
    height: 500px;
    width: 350px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 33px 7px rgba(0, 0, 0, 0.1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
}

.output {
    height: 120px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.rows {
    width: 100%;
    padding: 0 10px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}

.input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

    height: 330px;
    background-color: white;
}

.inputs {
    height: 60px;
    width: 70px;

}

.inputs button {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgb(231, 230, 230);
    font-size: 20px;
    border: none;
}

.inputs button:hover {
    transform: scale(1.1);
}

.inputs:nth-child(1) button,
.inputs:nth-child(2) button,
.inputs:nth-child(3) button,
.inputs:nth-child(4) button {
    color: rgb(52, 15, 214);

}